@model IEnumerable<SportsStore.Domain.Concrete.Category>

<div class="btn-group-vertical">
    <div class="btn btn-group-vertical">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Index","Home",new { catetoryId = item.CategoryID })"
               class="btn btn-menu-item">
                @item.CategoryName
            </a>
        }
    </div>
</div>
