body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #0026ff;
    text-decoration: none;
}

.boder-header {
    padding: 5px 10px;
    background-color: white;
    border-bottom: 1px solid darkgray;
}

.logo-store {
    float: left;
    padding-right: 20px;
    margin: -15px 0px;
}



.header-form {
    margin-top:5px;
    display:block;
}
.search-form {
    padding: 0px 0px;
}

.article-content {
    position: relative;
}

.input-search {
    max-width: 600px;
    height: 34px;
    width: 100%;
}

.btn-fixed-right {
    float:right;
    margin-right:10px;
    margin-left:10px;
}

.header {
    margin:10px 0px;
}

.collage-brand {
    font-size: 16px;
    padding: 15px 20px;
}

.article-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: coral;
    transition: opacity 2s;
    z-index: 100;
}

.article-content {
    height:400px;
}

.acticle-product:hover .article-content:after {
    opacity: 0.3;
}

.acticle-product:hover .toolbar {
    display: block;
}

.toolbar {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 101;
    left: 27%;
    display: none;
}

.toolbar a {
        display: inline-block;
        background-color: #000;
        color: #fff;
        opacity: 0.2;
        padding: 3px 10px;
}

.toolbar a:hover {
    opacity: 0.8;
    background-color: #37990d;
}

.acticle-product {
    position: relative;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    -webkit-box-shadow: -18px 22px 6px -6px rgba(117,122,121,0.55);
    -moz-box-shadow: -18px 22px 6px -6px rgba(117,122,121,0.55);
    box-shadow: -18px 22px 6px -6px rgba(117,122,121,0.55);
}

.size-img-product {
    width:100%;
    height:300px;
}

.btn-menu-item {
    background-color: white;
    color: black;
    text-align: left;
}

.btn-menu-item:hover {
    color: crimson;
}

.pagination-site {
    float:right;
}


@media (min-width: 1200px) {
}